html {
    background-color: #f8f8f8;
}

.container {
    padding-right: 5px;
    padding-left: 0;
    padding-top: 10px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
}

.nav-item {
    margin: 10px;
}

.nav-item-container {
    display: flex;
}

.grid div:hover {
    text-decoration: underline;
}

.grid a:hover {
    display: grid;
    height: 40px;
    width: 40px;
    margin: auto;
    background-color: #b3b4b4fa;
    border-radius: 50%;
}

.grid strong:hover {
    height: 32px;
    width: 32px;
    display: co;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #70757a;
}

body {
    margin: 10px;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 80%
}